Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CelsiustoFahrenheit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CTemp" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiustoFahrenheitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CelsiustoFahrenheitResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiustoKelvin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CTemp" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiustoKelvinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CelsiustoKelvinResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheittoCelsius">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FTemp" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheittoCelsiusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FahrenheittoCelsiusResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheittoKelvin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FTemp" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheittoKelvinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FahrenheittoKelvinResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KelvintoCelsius">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KTemp" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KelvintoCelsiusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KelvintoCelsiusResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KelvintoFahrenheit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KTemp" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KelvintoFahrenheitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KelvintoFahrenheitResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>