Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50969/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50969/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_CelsiustoFahrenheit_InputMessage">
    <wsdl:part name="parameters" element="tns:CelsiustoFahrenheit" />
  </wsdl:message>
  <wsdl:message name="IService1_CelsiustoFahrenheit_OutputMessage">
    <wsdl:part name="parameters" element="tns:CelsiustoFahrenheitResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CelsiustoKelvin_InputMessage">
    <wsdl:part name="parameters" element="tns:CelsiustoKelvin" />
  </wsdl:message>
  <wsdl:message name="IService1_CelsiustoKelvin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CelsiustoKelvinResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FahrenheittoCelsius_InputMessage">
    <wsdl:part name="parameters" element="tns:FahrenheittoCelsius" />
  </wsdl:message>
  <wsdl:message name="IService1_FahrenheittoCelsius_OutputMessage">
    <wsdl:part name="parameters" element="tns:FahrenheittoCelsiusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FahrenheittoKelvin_InputMessage">
    <wsdl:part name="parameters" element="tns:FahrenheittoKelvin" />
  </wsdl:message>
  <wsdl:message name="IService1_FahrenheittoKelvin_OutputMessage">
    <wsdl:part name="parameters" element="tns:FahrenheittoKelvinResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_KelvintoCelsius_InputMessage">
    <wsdl:part name="parameters" element="tns:KelvintoCelsius" />
  </wsdl:message>
  <wsdl:message name="IService1_KelvintoCelsius_OutputMessage">
    <wsdl:part name="parameters" element="tns:KelvintoCelsiusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_KelvintoFahrenheit_InputMessage">
    <wsdl:part name="parameters" element="tns:KelvintoFahrenheit" />
  </wsdl:message>
  <wsdl:message name="IService1_KelvintoFahrenheit_OutputMessage">
    <wsdl:part name="parameters" element="tns:KelvintoFahrenheitResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="CelsiustoFahrenheit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CelsiustoFahrenheit" message="tns:IService1_CelsiustoFahrenheit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CelsiustoFahrenheitResponse" message="tns:IService1_CelsiustoFahrenheit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CelsiustoKelvin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CelsiustoKelvin" message="tns:IService1_CelsiustoKelvin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CelsiustoKelvinResponse" message="tns:IService1_CelsiustoKelvin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FahrenheittoCelsius">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FahrenheittoCelsius" message="tns:IService1_FahrenheittoCelsius_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FahrenheittoCelsiusResponse" message="tns:IService1_FahrenheittoCelsius_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FahrenheittoKelvin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FahrenheittoKelvin" message="tns:IService1_FahrenheittoKelvin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FahrenheittoKelvinResponse" message="tns:IService1_FahrenheittoKelvin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KelvintoCelsius">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/KelvintoCelsius" message="tns:IService1_KelvintoCelsius_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/KelvintoCelsiusResponse" message="tns:IService1_KelvintoCelsius_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KelvintoFahrenheit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/KelvintoFahrenheit" message="tns:IService1_KelvintoFahrenheit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/KelvintoFahrenheitResponse" message="tns:IService1_KelvintoFahrenheit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CelsiustoFahrenheit">
      <soap:operation soapAction="http://tempuri.org/IService1/CelsiustoFahrenheit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CelsiustoKelvin">
      <soap:operation soapAction="http://tempuri.org/IService1/CelsiustoKelvin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FahrenheittoCelsius">
      <soap:operation soapAction="http://tempuri.org/IService1/FahrenheittoCelsius" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FahrenheittoKelvin">
      <soap:operation soapAction="http://tempuri.org/IService1/FahrenheittoKelvin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KelvintoCelsius">
      <soap:operation soapAction="http://tempuri.org/IService1/KelvintoCelsius" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KelvintoFahrenheit">
      <soap:operation soapAction="http://tempuri.org/IService1/KelvintoFahrenheit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50969/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>